<!-- Container (About Section) -->
<div id="about">

<div class="container">
  <div class="row">
  	<div class="col">
    <div class="col-sm-8">
      <h2>Why FAST.MD?</h2>
      <h4>FAST.MD works since 2013. And during all these years we provide high quality and safe services for our clients.</h4>
      <p>We are a group of young and creative enthusiasts. So that we are always ready for changes. And we are happy to give maximum satisfaction to any of our clients. That's why some of them are still with us since our start. :-) <span class="glyphicon glyphicon-thumbs-up"></span></p>
    </div>
    <div class="col-sm-4">
      <center><%= image_tag("logofast.png", alt: "FAST.MD LOGO", class: "logo slideanim text-center") %></center>
    </div>
    </div>
  </div>
  
  <div class="row">
  	<div class="col">
    <div class="col-sm-2">
      <h3>Our Values</h3>
    </div>
    <div class="col-sm-10">     
      <h4><strong>MISSION:</strong> Our mission is in helping people to obtain marketing advantages of www-services.</h4>
      <p><strong>VISION:</strong> Our vision is directed to understandig of our client's needs in present and in the future, even they can't see them yeat. </p>
    </div>
    </div>
  </div>
</div>

</div>
