$lightGray: #999;
$grayMediumLight: #eaeaea;
$reddarken4: #b71c1c;
$cyandarken1: #00acc1;
$cyandarken2: #0097a7;
$cyandarken3: #00838f;
$cyandarken4: #006064;
$cyanaccent4: #00b8d4;
$teallighten5: #e0f2f1;
$teallighten4: #b2dfdb;
$teallighten3: #80cbc4;
$tealaccent4: #00bfa5;
$lightblueaccent4: #0091ea;
$redaccent4: #d50000;
$redlighten2: #e57373;
$redlighten3: #ef9a9a;
$redlighten4: #ffcdd2;
$superbiriuza: #C0F2F7;
$snow: #fffafa;
$gainsboro: #dcdcdc;
$whitesmoke: #f5f5f5;
$MistyRose: #ffe4e1;
$greenlighten5: #e8f5e9;
$greenlighten4: #c8e6c9;
$greenlighten3: #a5d6a7;
$limelighten3: #e6ee9c;
$limelighten4: #f0f4c3;
$limelighten5: #f9fbe7;
$brownlighten5: #efebe9;
$brownlighten4: #d7ccc8;
$brownlighten3: #bcaaa4;
$orange: #f4511e; /* Orange */ 
$maincolor: $cyanaccent4;

#logof {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar {
    margin-bottom: 0;
    background-color: $maincolor;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: $maincolor !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
      border-top: 1px solid #eaeaea;
    }
    
    footer .glyphicon {
    font-size: 20px;
    margin-bottom: 0px;
    color: $maincolor;
}
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: 0 auto;
      min-height:200px;
      height: 450px !important;
      background-repeat: no-rpeat;
      background-position: center;
      -webkit-background-size: cover; 
      background-size: cover;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; 
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: $maincolor;
}

.carousel-indicators li {
    border-color: $maincolor;
}

.carousel-indicators li.active {
    background-color: $maincolor;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
  
.bg-grey {
    background-color: #f6f6f6;
}

.jumbotron { 
    background-color: $maincolor; 
    /*color: #ffffff;*/
    padding: 50px 25px;
    color: inherit;
}

.container-fluid {
    padding: 40px 50px;
}

.menucontainer-fluid {
    padding: 5px 40px;
}

.carcontainer-fluid {
    padding: 30px 0px;
}

/* Add an orange color to all icons and set the font-size */
.logo-small {
    color: $maincolor;
    font-size: 50px;
}

.logo {
    color: $maincolor;
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/*pricing begin*/
.panel {
    border: 1px solid $maincolor; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid $maincolor;
    background-color: #fff !important;
    color: $maincolor;
}

.panel-heading {
    color: #fff !important;
    background-color: $maincolor !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: $maincolor;
    color: #fff;
}
/*pricing end*/

