<!-- Add Google Maps -->
<div class="container">
  <div class="row">
		<div id="googleMap" style="height:400px;width:100%;" class="slideanim"></div>
  </div>        
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlMDV8RCXUioNiJI9QHhmgzqvaCVqowug&callback=myMap"></script>
